a {
  position: relative;
  color: #000;
  text-decoration: none;
}
a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(.65);
}
a:hover {
  color: #000;
}
h1 {
    font-family: 'Original Surfer', cursive;
    margin: 15px 0;
    font-size: 1.75em;
    text-decoration: none;
    background-image: url("http://shakashackburgers.com/images/199272_qnlv56pcmwxcqik2yrsfqznskuinj7.medium_kyvb.jpg"); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
    
    color: black;
}
a {
    color: #2fc8d0;
}

header {
    background: white;
}
h1 {
    color: black;
}

h2 {
    color: black;
}

nav {
    background-color: blue;
    border-radius: 25px;
    border-style: ridge;
}

nav a, nav a:visited{
    color: black;
}

nav a.selected, nav a:hover {
    color: white;
}
 h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 25px;
        margin-bottom: 20px;
    }
    
    header {
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}

h1 {
    font-family: 'Original Surfer', cursive;
    margin: 0px 0;
}

a {
    text-decoration: none;
}

nav {
    text-align: center;
    padding: 10px;
    margin: 20px 0 0;
}

nav ul{
    list-style: none;
    padding: 10px 0;
    margin: 0 10px;
}

nav li {
    display: inline-block;
}

nav a {
    font-weight: 800;
    padding: 15px 50px;
}

.center {
    padding-left: 250px;
}

.padding {
    padding-left: 550px;
}

#gallery {
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallery li{
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: dodgerblue;
    color: red;
}

#gallery li p {
 margin: 0;
 padding: 5%;
 font-size: 0.75em;
 color: white;
}

#gallerys {
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallerys li{
    float: left;
    width: 13.5%;
    margin: 0;
    color: red;
}

#gallerys li p {
 margin: 0;
 padding: 0;
 font-size: 0.75em;
 color: white;
}

.pie {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
}

@media screen and (min-width: 480px) {

 #gallery li {
        width: 28.3333%;
        
    }
    
    #gallery li:nth-child(4n){
        clear: left;
    }
}

.bottom{
    float: bottom;
}